body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --dark15: hsl(0, 0%, 15%);
  --dark30: hsl(0, 0%, 30%);
  --dark45: hsl(0, 0%, 45%);
  --dark60: hsl(0, 0%, 60%);
  --dark75: hsl(0, 0%, 75%);
  --dark90: hsl(0, 0%, 90%);
}